.Question {
    width: 650px;
    background-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
}

#answers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 15px;
    cursor: default;
}

h2 {
    font-size: 10px;
    margin: 10px;
    border: solid white 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

h2:hover {
    color: rgb(0, 191, 255);
    cursor: default;
}